# Configurazione OFFERTISSIMESCONTI

# Token generato da Telegram @BotFather (es. 123456789:ABCdefGhIJKlmNoPQRsTUVwxyZ)
TELEGRAM_BOT_TOKEN=

# Tuo ID Affiliato Amazon Associates
AMAZON_AFFILIATE_TAG=offertissimes-21

# Porta Server Web / API
PORT=8000
